
body {
	background-color: white;
}

.header {
    margin-right: 0px;
    background: #321533;
}

.header #logo {
	padding: 10px;
}

.header nav a {
	color: white;
}

.header nav a:hover {
	color: #321533;
}

.header nav {
    background: black;
    height: 44px;
    line-height: 44px;
}

.header ul {
    list-style: none;
}

.header ul li {
    display: inline;
    padding: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

.header ul li:hover {
    background: gray;
    cursor: pointer;
}

.header ul li a:hover {
    text-decoration: none;
    color: white;
}

#main {
    background: white;
    padding-bottom: 60px;
}

#btn-nav {
    padding: 10px 15px;
}

#btn-nav button {
    color: white;
    font-size: 24px;
}

.listado {
    position: relative;
}

.listado h2 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.listado article {
    margin-bottom: 25px;
    height: 350px;
    overflow: hidden;
}

.listado .thumbnail {
    margin-bottom: 10px;
}

.listado p {
    font-size: 13px;
    line-height: 12px;
}

.listado .page-header {
    margin-top: 0px;
}

.listado .page-header h1 {
    font-size: 24px;
    margin-bottom: 0px;
}

.oferta h1 {
    font-size: 24px;
}

.oferta .similares .media {
    height: 100px !important;
    overflow: hidden;
}

.oferta .similares article {
    margin-bottom: 10px;
}

.oferta .similares .media-left img {
    width: 150px;
}

.oferta .producto .media-object {
    width: 150px;
}

.oferta .revisa.row {
    background: #EFEFEF;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.listado article .foto {
    height: 250px;
    background: center no-repeat;
    background-size: contain;
}

.oferta .meta h2, .oferta .meta h3 {
    display: inline;
    font-size: 14px;
    border-right: 1px solid #CCC;
    padding: 0px 10px 0px 10px;
}

#tag_list div a {
    text-transform: capitalize;
}

.banner {
    background: orange;
    padding-top: 10px;
    text-align: center;
}

.banner .thumbnail {
    background: none;
    border: 0px;
}

.footer {
    border-top: 1px solid #EFEFEF;
    padding: 20px;
    background: #321533;
}

.footer a {
    color: white;
}

@media (max-width: 767px) {
    #navbar {
        display: none;
        height: auto;
    }

    #navbar ul {
        float: left;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    #navbar ul li {
        width: 100%;
        float: left;
        height: 44px;
        line-height: 44px;
        padding: 0px 0px 0px 20px;
    }

    .producto .media {
        margin-top: 20px;
    }

    .producto .media-left {
        width: 100%;
        float: left;
    }

    .producto .media-left .media-object{
        width: 100%;
    }

}

